*{
    margin: 0;
    padding: 0;
}
/* background of calculator */
#back{
    background: linear-gradient(to right, #d9a7c7, #fffcdc);
    height: 728px;
    width: 100%;
}
/* css for calculator div */
table{
    position: relative;
    top: 12px;
}
/* css for buttons */
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background: grey;
    border: none;
    color: white;
    border-radius: 3px;
    opacity: 0.7;
}
/* css for view part of calculator */
.text-view{
    width: 207px;
    height: 40px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    border: none;
    color: #607d8b;
    border-radius: 3px;
}
/* main ares of calculator */
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translateX(-50%)translateY(-50%);
    border: solid 1px #beb6b6;
    border-radius: 5px;
    padding: 8px 6px ;
    background-color: #d1c5c5;
}
/* css for button when hover over buttons */
input[type="button"]:hover{
    background-color: dimgrey;
}


